* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d4dadb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}
#main-container {
  background-color: #0a7c8f;
  margin: 0 1rem;
  width: 400px;
  max-width: 90%;
  height: 300px;
  text-align: center;
}
input {
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  width: 300px;
  max-width: 90%;
  font-family: inherit;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

input:focus {
  outline: none;
}
.weather h2 {
  display: flex;
  justify-content: center;
}
.weather h2,
.weather p,
.weather h3 {
  margin-top: 0.7rem;
  color: #fff;
}
.weather p {
  font-size: 1.25rem;
}

.form {
  /* height: 250px;
  background: url(./assets/thunder.jpg);

  background-size: cover; */
}

.main {
  color: #fff;
}
